/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-image: url("../images/background2.jpg")
}

.resume-main {
	background-color: #f9f4ee;
}

.resume-aside {
	background-color: #d2dea0;
}

/* Styles for lists in the document */

.biography-details li::before {
  content: '\2665'; /* Unicode voor het hartje */
  color: #C50003; /* Kleur van het hartje, je kunt dit aanpassen naar jouw voorkeur */
  margin-right: 40px; /* Ruimte tussen het hartje en de tekst */
}

.biography-details li, .skill-list li {
    font-family: "balzano-std", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    padding-left: 1em;
    font-size: 22px;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.fw-bolder {
	font-family: "lady-dodo", sans-serif;
font-weight: 400;
font-style: normal;
}

.fst-italic {
    font-family: "lady-dodo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.font2 {
    font-family: "balzano-std", sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: left;
}

.d-flex {color: #82369B}
